<%= form_with(model: terrin, local: true) do |form| %>
  <% if terrin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(terrin.errors.count, "error") %> prohibited this Check In from being saved:</h2>

      <ul>
      <% terrin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Territory" %>
    <%# Presents the territory ids in a user friendly format of names %>
    <%= form.select :terrid, options_for_select(Terr.all.map{|t|[t.name, t.id]}, selected=params[:terrid]), id: :terrin_terrid %>
  </div>

  <div class="field">
    <%= form.label "Check In Date" %>
    <%= form.date_select :datecomp, id: :terrin_datecomp, order: [:month, :day, :year] %>
  </div>

  <% if params[:terrid] %>
    <%# Checks for flags and passes them to the controller %>
    <%= form.hidden_field :checkin, :value=> true %>
  <% end %>

  <div class="actions">
    <%= form.submit "Check In"%>
  </div>
<% end %>
