<p id="notice"><%= notice %></p>

<h1>Terrins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Region</th>
      <th>Last Complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terrins.each do |terrin| %>
      <% terr=Terr.all.find(terrin.terrid) %>
      <tr>
        <td><%= terr.name %></td>
        <td><%= terr.region %></td>
        <td><%= terr.datecomp.strftime("%m/%d/%y") %></td>
        <td><%= link_to 'Show', terrin %></td>
        <td><%= link_to 'Edit', edit_terrin_path(terrin) %></td>
        <td><%= link_to 'Destroy', terrin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terrin', new_terrin_path %>
