<p id="notice"><%= notice %></p>

<% terr=Terr.all.find(@terrin.terrid) %>
<h1><%= terr.region %> - <%= terr.name %></h1>
<h3>Last Completed: <%= terr.datecomp %></h3>

<p>
  <strong>Status:</strong> Checked In
</p>

<p>
  <strong>Notes:</strong>
  <%= terr.notes %>
</p>

</p>
  <strong>DNCs:</strong>
  <% @dncs=Dnc.all.select{|dnc| dnc.terrid==terr.id} %>
  <table>
  	<thead>
  		<tr>
  			<th>Number</th>
  			<th>Street</th>
  			<th>Name</th>
  			<th>Publisher</th>
  			<th>Date</th>
  			<th>Notes</th>
        <td><a href>New DNC</a></td>
  		</tr>
  	</thead>

  	<tbody>
  		<% @dncs.each do |dnc| %>
  			<tr>
  				<td><%= dnc.number %></td>
  				<td><%= dnc.street %></td>
  				<td><%= dnc.name %></td>
  				<td><%= dnc.publisher %></td>
  				<td><%= dnc.date %></td>
  				<td><%= dnc.notes %></td>
  			</tr>
  		<% end %>
      <!-- add blank rows -->
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  	</tbody>
  </table>
</p>

<p>
  <strong>History:</strong>
  <table>
    <% terr.history.reverse.each do |entry| %>
      <tr>
        <% entry.each do |detail| %>
          <td><%= detail %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</p>

<%# link_to 'Edit', edit_terrin_path(@terrin) %>
<%# link_to 'Back', terrins_path %>
