<div class="show">
  <p id="notice"><%= notice %></p>

  <% terr=Terr.all.find(@terrin.terrid) %>
  <h1><%= terr.region %> - <%= terr.name %></h1>
  <h3>Last Completed: <%= terr.datecomp.strftime("%m/%d/%y") %></h3>

  <p>
    <strong>Status:</strong> Checked In
  </p>

  <p>
    <strong>Notes:</strong>
    <%= terr.notes %>
  </p>

  </p>
    <strong>DNCs:</strong>
    <% @dncs=Dnc.all.select{|dnc| dnc.terrid==terr.id}.sort_by{|dnc| [dnc.street, dnc.number.to_i]} %>
    <table>
    	<thead>
    		<tr>
          <th>Date</th>
          <th>Name</th>
    			<th>Number</th>
    			<th>Street</th>
    			<th>Publisher</th>
    			<th>Notes</th>
          <td><%= link_to 'New DNC', {:controller => "dncs", :action => "new", :terrid => terr.id, :terrtype => "terrins", :redirid => @terrin.id} %></td>
          <td><a href='/dncs/print?terr=<%= @terrin.terrid %>' target='_blank'>Print DNC List</a></td>
    		</tr>
    	</thead>

    	<tbody>
    		<% @dncs.each do |dnc| %>
    			<% if dnc.notes.include?("Territory") %>
            <tr class="special">
          <% else %>
            <tr>
          <% end %>
            <td>
              <% if dnc.date == nil %>
                <%= dnc.date %>
              <% else %>
                <%= dnc.date.strftime("%m/%d/%y") %>
              <% end %>
            </td>
            <td><%= dnc.name %></td>
    				<td><%= dnc.number %></td>
    				<td><%= dnc.street %></td>
    				<td><%= dnc.publisher %></td>
    				<td><%= dnc.notes %></td>
            <td><%= link_to 'Edit', {:controller => "dncs", :action => "edit", :id => dnc.id, :terrtype => "terrins",:redirid => @terrin.id} %></td>
            <td><%= link_to 'Delete', [dnc,terrtype: "terrins",redirid: @terrin.id], method: :delete, data: { confirm: "Are you sure you want to delete?" } %></td>
    			</tr>
    		<% end %>
    	</tbody>
    </table>
  </p>

  <p>
    <strong>History:</strong>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Action</th>
          <th>Publisher</th>
        </tr>
      </thead>
      <% terr.history.reverse.each do |entry| %>
        <tr>
          <td><%= entry[2].strftime("%m/%d/%y") %></td>
          <td><%= entry[1] %></td>
          <td><%= entry[3] %></td>
        </tr>
      <% end %>
    </table>
  </p>

  <%# link_to 'Edit', edit_terrin_path(@terrin) %>
  <%# link_to 'Back', terrins_path %>
</div>
