<!-- Backend Interface Functions -->
<script>
    function signalRestart() {
        if (window.confirm("Continue: Restart TerraNova?")){
            <% if Rails.env.development? %>
                alert("Dev Environment: Manually Restart");
            <% else %>
                var xhttp = new XMLHttpRequest();
                xhttp.open("GET", "admin?restart=1", true);
                xhttp.send();
            <% end %>
        }
    }

    function configReset() {
        if (window.confirm("Reset Configuration to Default?")){
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "admin?configReset=1", true);
            xhttp.send();
        }
    }
</script>

<%#Gets latest version number from github %>
<% require 'net/http' %>
<% response = Net::HTTP.get(URI("https://api.github.com/repos/jdrbrn/TerraNova/releases/latest")) %>
<% response=JSON.parse(response) %>
<% latestVersion=response["tag_name"] %>
<%#Checks if that version is newer, if so page includes update related stuff %>
<% if latestVersion>TerraNovaConfig["TerraNovaVersion"] %>
    <script>
        function signalUpdate() {
            if (window.confirm("Continue: Update on Restart? This may cause merge issues to manually fix")){
                <% if Rails.env.development? %>
                    alert("Dev Environment: Will Not Update; Use Git");
                <% else %>
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("GET", "admin?update=1", true);
                    xhttp.send();
                <% end %>
            }
        }
    </script>
    <h2 style="color:red">
        Update Available (<a href="<%= response["html_url"] %>" target="_blank"><%= latestVersion %></a>)
        <button type="button" onclick="signalUpdate()"><b>Update TerraNova on Restart</button> 
    </h2>
<% end %>
<h2>Admin Page</h2>
<b>All Changes Apply on Restart</b>
<h3>Configuration <button type="button" onclick="location.href='admin?configDown=1'">Download Configuration File</button></h3>
<%= form_tag("/admin", method: "get", remote: true) do %>
    <b>Configuration Information</b> <%= submit_tag("Save Configuration") %> 
    <table>
        <tr>
            <td>TerraNovaVersion</td>
            <td><%= TerraNovaConfig["TerraNovaVersion"] %>
                <%= hidden_field_tag "usrconf[TerraNovaVersion]", TerraNovaConfig["TerraNovaVersion"] %></td>
        </tr>
        <tr>
            <td>Timezone</td>
            <td><%= time_zone_select "usrconf", "timezone", nil, default: TerraNovaConfig["timezone"] %></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><%= text_field_tag "usrconf[name]", TerraNovaConfig["name"] %></td>
        </tr>
        <tr>
            <td>enableMultiserver</td>
            <td><%= check_box_tag "usrconf[enableMultiserver]", TerraNovaConfig["enableMultiserver"] %></td>
        </tr>
        <tr>
            <td>multiserverList</td>
            <td><%= text_field_tag "usrconf[multiserverList]", TerraNovaConfig["multiserverList"].to_s %></td>
        </tr>
        <tr>
            <td>enableHTTPAuth</td>
            <td><%= check_box_tag "usrconf[enableHTTPAuth]", "true", TerraNovaConfig["enableHTTPAuth"]=="true" %></td>
        </tr>
        <tr>
            <td>HTTPAuth</td>
            <td>username</td>
            <td><%= text_field_tag "usrconf[HTTPAuth][username]", TerraNovaConfig["HTTPAuth"]["username"] %></td>
        </tr>
        <tr>
            <td></td>
            <td>password</td>
            <td><%= text_field_tag "usrconf[HTTPAuth][password]", TerraNovaConfig["HTTPAuth"]["password"] %></td>
        </tr>
        <tr>
            <td>enableAdminHTTPAuth</td>
            <td><%= check_box_tag "usrconf[enableAdminHTTPAuth]", "true", TerraNovaConfig["enableAdminHTTPAuth"]=="true" %></td>
        </tr>
        <tr>
            <td>adminHTTPAuth</td>
            <td>username</td>
            <td><%= text_field_tag "usrconf[adminHTTPAuth][username]", TerraNovaConfig["adminHTTPAuth"]["username"] %></td>
        </tr>
        <tr>
            <td></td>
            <td>password</td>
            <td><%= text_field_tag "usrconf[adminHTTPAuth][password]", TerraNovaConfig["adminHTTPAuth"]["password"] %></td>
        </tr>
        <tr>
            <td>systemCSS</td>
            <td>bodyBG</td>
            <td><%= color_field_tag "usrconf[systemCSS][bodybg]", TerraNovaConfig["systemCSS"]["bodyBG"] %></td>
        </tr>
        <tr>
            <td></td>
            <td>terrWarn</td>
            <td><%= color_field_tag "usrconf[systemCSS][terrWarn]", TerraNovaConfig["systemCSS"]["terrWarn"] %></td>
        </tr>
        <tr>
            <td></td>
            <td>terrLate</td>
            <td><%= color_field_tag "usrconf[systemCSS][terrLate]", TerraNovaConfig["systemCSS"]["terrLate"] %></td>
        </tr>
        <tr>
            <td></td>
            <td>toolbarBG</td>
            <td><%= color_field_tag "usrconf[systemCSS][toolbarBG]", TerraNovaConfig["systemCSS"]["toolbarBG"] %></td>
        </tr>
        <tr>
            <td></td>
            <td>thBG</td>
            <td><%= color_field_tag "usrconf[systemCSS][thBG]", TerraNovaConfig["systemCSS"]["thBG"] %></td>
        </tr>
        <tr>
            <td></td>
            <td>tdBG</td>
            <td><%= color_field_tag "usrconf[systemCSS][tdBG]", TerraNovaConfig["systemCSS"]["tdBG"] %></td>
        </tr>
        <tr>
            <td>dncCSS</td>
            <td>dncCardWidth</td>
            <td><%= text_field_tag "usrconf[dncCSS][dncCardWidth]", TerraNovaConfig["dncCSS"]["dncCardWidth"] %></td>
        </tr>
        <tr>
            <td></td>
            <td>specialDNC</td>
            <td><%= color_field_tag "usrconf[dncCSS][specialDNC]", TerraNovaConfig["dncCSS"]["specialDNC"] %></td>
        </tr>
    </table>
<% end %>
<%= form_tag "/admin", multipart: true do %>
    <b>Upload Configuration</b>
    <%= file_field_tag "configUp", accept: ".json" %>
    <%= submit_tag "Upload Configuration File", data: {confirm: "Overwrite current configuration with uploaded?"} %>
<% end %>
<button type="button" onclick="configReset()">Reset Configuration to Default</button>
<br>
<h3>Database <button type="button" onclick="location.href='admin?dbDown=1'">Download Database</button></h3>
<%= form_tag "/admin", multipart: true do %>
    <b>Upload Database</b> <%= file_field_tag "dbUp", accept: ".sqlite3" %>
    <%= submit_tag "Upload Database", data: {confirm: "Overwrite database with uploaded?"} %>
<% end %>
<h3>System</h3>
<button type="button" onclick="signalRestart()"><b>Restart TerraNova</button>