<%= form_with(model: terrout, local: true) do |form| %>
  <% if terrout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(terrout.errors.count, "error") %> prohibited this terrout from being saved:</h2>

      <ul>
      <% terrout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Territory" %>
    <% if params[:terrid] %>
      <%= form.select :terrid, options_for_select(Terr.all.map{|t|[t.name, t.id]}, selected=params[:terrid]), id: :terrout_terrid %>
    <% elsif @terrout.terrid %>
      <%= form.select :terrid, options_for_select(Terr.all.map{|t|[t.name, t.id]}, selected=@terrout.terrid), id: :terrout_terrid %>
    <% else %>
      <%= form.select :terrid, options_for_select(Terr.all.map{|t|[t.name, t.id]}), id: :terrout_terrid %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher, id: :terrout_publisher %>
  </div>

  <div class="field">
    <%= form.label :dateout %>
    <%= form.date_select :dateout, id: :terrout_dateout %>
  </div>

  <div class="field">
    <%= form.label :datedue %>
    <%= form.date_select :datedue, id: :terrout_datedue, default: Date.current+4.months %>
  </div>

  <% if params[:terrid] %>
    <%= form.hidden_field :checkout, :value=> true %>
  <% end %>

  <div class="actions">
    <%= form.submit "Check Out"%>
  </div>
<% end %>
