<% allHistory = [] %>
<%# Iterates over all territory entries and gets all the history entries stored within %>
<% @terrs.each do |terr| %>
  <% terr.history.each do |entry| %>
    <%# Adds in the territory name as it isn't stored %>
    <% entry.insert(1,terr.name) %>
    <% allHistory<<entry %>
  <% end %>
<% end %>
<h2>List of History</h2>
<table>
  <%# Sorts in decending edit date order %>
  <thead>
    <tr>
      <th>Entry Date</th>
      <th>Territory</th>
      <th>Action</th>
      <th>Date</th>
      <th>Publisher</th>
  <% allHistory.sort_by{|entry| entry[0] }.reverse.each do |entry| %>
    <tr>
      <td><%= entry[0] %></td>
      <td><%= entry[1] %></td>
      <td><%= entry[2] %></td>
      <td><%= entry[3] %></td>
      <td><%= entry[4] %></td>
    </tr>
  <% end %>
</table>
