<%# Ruby pre-render functions %>
<%# will store terrid of all territories checked in or out %>
<% categorizedTerrs =[] %>
<%# calculate when start of service year was %>
<% if Time.now.month>=9 %>
  <% svcYearStart=Time.new(Time.now.year,9,1) %>
<% else %>
  <% svcYearStart=Time.new(Time.now.year-1,9,1) %>
<% end %>
<%# calculate how many territories completed during service year %>
<% compCurYear=0 %>
<% @terrs.each do |terr| %>
  <% if terr.datecomp > svcYearStart then compCurYear+=1 end %>
<% end %>
<%# Do same for last 12 months %>
<% compLast12=0 %>
<% yrAgo = Time.new(Time.now.year-1, Time.now.month, Time.now.day) %>
<% @terrs.each do |terr| %>
  <% if terr.datecomp > yrAgo then compLast12+=1 end %>
<% end %>
<%# If current month is Sep do the same for last service year for record keeping %>
<% lastSvcYear=false %>
<% if Time.now.month==9 %>
  <% lastSvcYear=Time.new(svcYearStart.year-1,9,1) %>
  <% compLastYear=0 %>
  <% @terrs.each do |terr| %>
    <% if terr.datecomp>lastSvcYear && terr.datecomp<svcYearStart then compLastYear+=1 end %>
  <% end %>
<% end %>

<!-- User Settings Set in TerraNovaConfig.json-->
<script>
var congName = "<%= TerraNovaConfig["name"] %>"
//If enabled links to other servers will be in the toolbar
var multiLinksEnabled = <%=TerraNovaConfig["enableMultiserver"] %>

<%# Only load multiServer data if needed %>
<% if TerraNovaConfig["enableMultiserver"] %>
  var multiServers=[]
  //multiServers.push(["Type of Territory","IP of TerraNova Server for type"])
  <% TerraNovaConfig["multiserverList"].each do |server| %>
    multiServers.push(["<%= server[0] %>", "<%= server[1] %>"])
  <% end %>
<% end %>
</script>

<!-- Javascript Functions -->
<script>
  function appendHTML(element, contents) {
    document.getElementById(element).innerHTML=(document.getElementById(element).innerHTML + contents)
  }

  function insertHTML(element, contents) {
    document.getElementById(element).innerHTML=(contents + document.getElementById(element).innerHTML)
  }

  function terrinsViewDetails(terrinid) {
    document.getElementById("detailFrame").src = ("terrins/" + terrinid)
  }

  function terroutsViewDetails(terroutid) {
    document.getElementById("detailFrame").src = ("terrouts/" + terroutid)
  }

  function terrsViewDetails(terrid) {
    document.getElementById("detailFrame").src = ("terrs/" + terrid)
  }

  function setToolbar() {
    insertHTML("toolHead", (congName + " "))
    if (multiLinksEnabled){
      for (id=0; id<multiServers.length; id++){
        appendHTML("toolLinks",("<td id='server"+id+"Link'><a href='http://"+multiServers[id][1]+"'>"+multiServers[id][0]+"</a></td>"))
      }
    }
  }
  function downloadDB() {
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "report/download?db=1", true);
    xhttp.send();
    <% if Rails.env.development? %>
      window.open("development.sqlite3");
    <% elsif Rails.env.test? %>
      window.open("test.sqlite3");
    <% else %>
      window.open("production.sqlite3");
    <% end %>
  }
</script>

<div id="toolbar">
    <div id="toolHead" align="left">Congregation Territory</div>
    <table align="right">
      <tr id="toolLinks"> </tr>
    </table>
</div>

<!-- Left side report view -->
<div id="reportWindow">
  <!-- table of useful links -->
  <div id="links">
    <table>
      <tr><td><a href='/report/print' target='_blank'>Print Worksheet</a></td></tr>
      <tr><td><a href='/report/history' target='_blank'>Check-In/Out History</a></td></tr>
      <tr><td><a href='/dncs' target='_blank'>DNC Database</a></td></tr>
      <tr><td><a href='/terrs' target='_blank'>Territory Database</a></td></tr>
      <tr><td><a id="exportdownload"></a></td></tr>
      <tr><td><a href='#' onclick="downloadDB()">Download Full Database</a></td></tr>
    </table>
  </div>
  <!-- table to display service year completion stats -->
  <div id="svcYearStats">
    <table>
      <thead>
        <tr>
          <th>Time Frame</th>
          <th>Completed</th>
          <th>Total</th>
          <th>Percent</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= svcYearStart.year+1 %> Service Year</td>
          <td><%= compCurYear %></td>
          <td><%= @terrs.length %></td>
          <td><%= (compCurYear.to_f/@terrs.length*100).round(2) %></td>
        </tr>
	<tr>
          <td>Since <%= yrAgo.strftime("%m/%d/%y") %></td>
          <td><%= compLast12 %></td>
          <td><%= @terrs.length %></td>
          <td><%= (compLast12.to_f/@terrs.length*100).round(2) %></td>
        </tr>
        <% if lastSvcYear %>
          <tr>
            <td><%= lastSvcYear.year %> Service Year</td>
            <td><%= compLastYear %></td>
            <td><%= @terrs.length %></td>
            <td><%= (compLastYear.to_f/@terrs.length*100).round(2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- table to display terrouts -->
  <div id="terrOuts">
    <h2>Checked Out Territories</h2>

    <table id="terrouttable">
      <thead>
        <tr>
          <th>Territory</th>
          <th>Last Complete</th>
          <th>Publisher</th>
          <th>Date Out</th>
          <th>Date Due</th>
        </tr>
      </thead>

      <tbody>
        <% @terrouts.sort_by{|terrout| terrout.datedue}.each do |terrout| %>
          <% categorizedTerrs<<terrout.terrid %>
          <% if terrout.datedue-Date.current<0 %>
            <% dateClass="late" %>
          <% elsif (terrout.datedue-1.months)-Date.current<0%>
            <% dateClass="warn" %>
          <% else %>
            <% dateClass="normal" %>
          <% end %>
          <tr>
            <td class="<%= dateClass %>"><%= @terrs.find(terrout.terrid).name %><br><%= @terrs.find(terrout.terrid).region %></td>
            <td><%= @terrs.find(terrout.terrid).datecomp.strftime("%m/%d/%y") %></td>
            <td><%= terrout.publisher %></td>
            <td><%= terrout.dateout.strftime("%m/%d/%y") %></td>
            <td><%= terrout.datedue.strftime("%m/%d/%y") %></td>
            <td><a href="#" onclick="terroutsViewDetails('<%= terrout.id %>');return false;">View Details</a></td>
            <td><%= link_to 'Check In', [terrout,checkin: terrout.terrid], method: :delete, data: { confirm: "Are you sure you want to check in #{@terrs.find(terrout.terrid).name}?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- table to display terrins -->
  <div id="terrIns">
    <h2>Checked In Territories</h2>

    <table id="terrintable">
      <thead>
        <tr>
          <th>Territory</th>
          <th>Last Complete</th>
        </tr>
      </thead>

      <tbody>
        <% @terrins.sort_by{|terrin| @terrs.find(terrin.terrid).datecomp}.each do |terrin| %>
          <% categorizedTerrs<<terrin.terrid %>
          <tr>
            <td class="normal"><%= @terrs.find(terrin.terrid).name %><br><%= @terrs.find(terrin.terrid).region %></td>
            <td><%= @terrs.find(terrin.terrid).datecomp.strftime("%m/%d/%y") %></td>
            <td><a href="#" onclick="terrinsViewDetails('<%= terrin.id %>');return false;">View Details</a></td>
            <td><%= link_to 'Check Out', [terrin,checkout: terrin.terrid], method: :delete, data: { confirm: "Are you sure you want to check out #{@terrs.find(terrin.terrid).name}?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- table to display terrs that aren't out or in -->
  <div id="otherTerrs">
    <h2>Other Territories</h2>

    <table id="terrtable">
      <thead>
        <tr>
          <th>Territory</th>
          <th>Last Complete</th>
        </tr>
      </thead>

      <tbody>
        <% @terrs.sort_by{|terr| terr.datecomp}.each do |terr| %>
          <% if categorizedTerrs.find_index(terr.id) %>
          <% else %>
            <tr>
              <td class="normal"><%= terr.name %><br><%=terr.region %></td>
              <td><%= terr.datecomp.strftime("%m/%d/%y") %></td>
              <td><a href='#' onclick="terrsViewDetails('<%= terr.id %>');return false;">View Details</a></td>
              <td><%= link_to 'Check Out', {:controller => "terrouts", :action => "new", :terrid => terr.id} %></td>
              <td><%= link_to 'Check In', {:controller => "terrins", :action => "new", :terrid => terr.id} %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!--Detail display window off to right side-->
<div id="detailWindow">
  <iframe id="detailFrame"> </iframe>
</div>

<script>  window.onload = setToolbar(); </script>

<script>
//This script section creates a downloadable CSV of all the territory listings
//and updates the page to have a link in a predefined spot
  csvdata=["Territory,Last Complete,Publisher,Date Out,Date Due"]
  terrouttable=document.getElementById("terrouttable").tBodies[0].rows
  terrintable=document.getElementById("terrintable").tBodies[0].rows
  terrtable=document.getElementById("terrtable").tBodies[0].rows
  allterrs=[]
  i=0
  while (i<terrouttable.length) {
    row=terrouttable[i].cells
    temp=[]
    temp.push("\""+row[0].innerHTML.split("<br>").join(" ")+"\"")
    temp.push("\""+row[1].innerText+"\"")
    temp.push("\""+row[2].innerText+"\"")
    temp.push("\""+row[3].innerText+"\"")
    temp.push("\""+row[4].innerText+"\"")
    allterrs.push(temp)
    i+=1
  }
  i=0
  while (i<terrintable.length) {
    row=terrintable[i].cells
    temp=[]
    temp.push("\""+row[0].innerHTML.split("<br>").join(" ")+"\"")
    temp.push("\""+row[1].innerText+"\"")
    temp.push("\"\"")
    temp.push("\"\"")
    temp.push("\"\"")
    allterrs.push(temp)
    i+=1
  }
  i=0
  while (i<terrtable.length) {
    row=terrtable[i].cells
    temp=[]
    temp.push("\""+row[0].innerHTML.split("<br>").join(" ")+"\"")
    temp.push("\""+row[1].innerText+"\"")
    temp.push("\"\"")
    temp.push("\"\"")
    temp.push("\"\"")
    allterrs.push(temp)
    i+=1
  }
  allterrs=allterrs.sort(function(a,b){return new Date(a[1]) - new Date(b[1])})
  i=0
  while (i<allterrs.length){
    csvdata.push(allterrs[i])
    i+=1
  }
  csvstring=csvdata.join("\n")
  csv= new Blob([csvstring], {type: 'text/csv; header=present'})
  downloadlink=URL.createObjectURL(csv)
  linkloc=document.getElementById("exportdownload")
  linkloc.download = 'territories.csv'
  linkloc.href = downloadlink
  linkloc.textContent='Export Worksheet as CSV'
</script>
