<!-- User Settings -->
<script>
</script>

<!-- Javascript Functions -->
<script>
  function terrinsViewDetails(terrinid) {
    document.getElementById("detailFrame").src = ("terrins/" + terrinid)
  }

  function terroutsViewDetails(terroutid) {
    document.getElementById("detailFrame").src = ("terrouts/" + terroutid)
  }

  function terrsViewDetails(terrid) {
    document.getElementById("detailFrame").src = ("terrs/" + terrid)
  }
</script>

<%# Ruby pre-render functions %>
<%# will store terrid of all territories check in or out %>
<% categorizedTerrs =[] %>
<%# calculate when start of service year was %>
<% if Time.now.month>=9 %>
  <% svcYearStart=Time.new(Time.now.year,9,1) %>
<% else %>
  <% svcYearStart=Time.new(Time.now.year-1,9,1) %>
<% end %>
<%# calculate how many territories completed during service year %>
<% compCurYear=0 %>
<% @terrs.each do |terr| %>
  <% if terr.datecomp > svcYearStart then compCurYear+=1 end %>
<% end %>
<%# If current month is Sep do the same for last service year for record keeping %>
<% lastSvcYear=false %>
<% if Time.now.month==9 %>
  <% lastSvcYear=Time.new(svcYearStart.year-1,9,1) %>
  <% compLastYear=0 %>
  <% @terrs.each do |terr| %>
    <% if terr.datecomp>lastSvcYear && terr.datecomp<svcYearStart then compLastYear+=1 end %>
  <% end %>
<% end %>

<!-- Left side report view -->
<div id="reportWindow" style="width:49vw;position:absolute;left:1px;top:5px">
  <!-- table to display service year completion stats -->
  <a href='/report/print' target='_blank' style="position:absolute;right:5px">Print Worksheet</a>
  <a href='/report/history' target='_blank' style="position:absolute;right:5px;top:15px">History of Check-In/Out</a>
  <a href='/dncs' target='_blank' style="position:absolute;right:5px;top:30px">DNC Database</a>
  <a href='/terrs' target='_blank' style="position:absolute;right:5px;top:45px">Terrs Database</a>
  <div id="svcYearStats">
    <table>
      <thead>
        <tr>
          <th>Year</th>
          <th>Completed</th>
          <th>Total</th>
          <th>Percent</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= svcYearStart.year %></td>
          <td><%= compCurYear %></td>
          <td><%= @terrs.length %></td>
          <td><%= (compCurYear.to_f/@terrs.length*100).round(2) %></td>
        </tr>
        <% if lastSvcYear %>
          <tr>
            <td><%= lastSvcYear.year %></td>
            <td><%= compLastYear %></td>
            <td><%= @terrs.length %></td>
            <td><%= (compLastYear.to_f/@terrs.length*100).round(2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- table to display terrouts -->
  <div id="terrOuts">
    <h2>Checked Out Territories</h2>

    <table>
      <thead>
        <tr>
          <th>Territory</th>
          <th>Last Complete</th>
          <th>Publisher</th>
          <th>Date Out</th>
          <th>Date Due</th>
        </tr>
      </thead>

      <tbody>
        <% @terrouts.sort_by{|terrout| terrout.datedue}.each do |terrout| %>
          <% categorizedTerrs<<terrout.terrid %>
          <% if terrout.datedue-Date.current<0 %>
            <% dateClass="late" %>
          <% elsif (terrout.datedue-1.months)-Date.current<0%>
            <% dateClass="warn" %>
          <% else %>
            <% dateClass="normal" %>
          <% end %>
          <tr>
            <td class="<%= dateClass %>" style="white-space:pre"><%= @terrs.find(terrout.terrid).name %><br><%= @terrs.find(terrout.terrid).region %></td>
            <td><%= @terrs.find(terrout.terrid).datecomp %></td>
            <td><%= terrout.publisher %></td>
            <td><%= terrout.dateout %></td>
            <td><%= terrout.datedue %></td>
            <td><a href="#" onclick="terroutsViewDetails('<%= terrout.id %>');return false;">View Details</a></td>
            <td><%= link_to 'Check In', [terrout,checkin: terrout.terrid], method: :delete, data: { confirm: "Are you sure you want to check in #{@terrs.find(terrout.terrid).name}?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- table to display terrins -->
  <div id="terrIns">
    <h2>Checked In Territories</h2>

    <table>
      <thead>
        <tr>
          <th>Territory</th>
          <th>Last Complete</th>
        </tr>
      </thead>

      <tbody>
        <% @terrins.sort_by{|terrin| @terrs.find(terrin.terrid).datecomp}.each do |terrin| %>
        <% categorizedTerrs<<terrin.terrid %>
          <tr>
            <td style="white-space:pre-wrap"><%= @terrs.find(terrin.terrid).name %><br><%= @terrs.find(terrin.terrid).region %></td>
            <td><%= @terrs.find(terrin.terrid).datecomp %></td>
            <td><a href="#" onclick="terrinsViewDetails('<%= terrin.id %>');return false;">View Details</a></td>
            <td><%= link_to 'Check Out', [terrin,checkout: terrin.terrid], method: :delete, data: { confirm: "Are you sure you want to check out #{@terrs.find(terrin.terrid).name}?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- table to display terrs that aren't our or in -->
  <div id="otherTerrs">
    <h2>Other Territories</h2>

    <table>
      <thead>
        <tr>
          <th>Territory</th>
          <th>Last Complete</th>
        </tr>
      </thead>

      <tbody>
        <% @terrs.sort_by{|terr| terr.datecomp}.each do |terr| %>
          <% if categorizedTerrs.find_index(terr.id) %>
          <% else %>
            <tr>
              <td style="white-space:pre-wrap"><%= terr.name %><br><%=terr.region %></td>
              <td><%= terr.datecomp %></td>
              <td><a href='#' onclick="terrsViewDetails('<%= terr.id %>');return false;">View Details</a></td>
              <td><%= link_to 'Check Out', {:controller => "terrouts", :action => "new", :terrid => terr.id} %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!--Detail display window off to right side-->
<div id="detailWindow" style="width:49vw;height:90vh;position:fixed;right:2px;top:3px;border:0px solid #ff4a2b;overflow-x:hidden;overflow-y:scroll; -webkit-overflow-scrolling: touch">
  <iframe id="detailFrame" style='width:99%;height:99%'> </iframe>
</div>
