<!-- User Settings -->
<script>
</script>

<!-- Javascript Functions -->
<script>
  function appendHTML(element, contents) {
    document.getElementById(element).innerHTML=(document.getElementById(element).innerHTML + contents)
  }
  function insertHTML(element, contents) {
    document.getElementById(element).innerHTML=(contents + document.getElementById(element).innerHTML)
  }
</script>

<%# Ruby pre-render functions %>
<%# get a local working copy of @terrs %>
<% workingTerrs=[] %>
<% @terrs.each { |terr| workingTerrs<<terr } %>
<%# calculate when start of service year was %>
<% if Time.now.month>=9 %>
  <% svcYearStart=Time.new(Time.now.year,9,1) %>
<% else %>
  <% svcYearStart=Time.new(Time.now.year-1,9,1) %>
<% end %>
<%# calculate how many territories completed during service year %>
<% compCurYear=0 %>
<% workingTerrs.each do |terr| %>
  <% if terr.datecomp > svcYearStart then compCurYear+=1 end %>
<% end %>
<%# If current month is Sep do the same for last service year for record keeping %>
<% lastSvcYear=false %>
<% if Time.now.month==9 %>
  <% lastSvcYear=Time.new(svcYearStart.year-1,9,1) %>
  <% compLastYear=0 %>
  <% workingTerrs.each do |terr| %>
    <% if terr.datecomp>lastSvcYear && terr.datecomp<svcYearStart then compLastYear+=1 end %>
  <% end %>
<% end %>

<!-- table to display service year completion stats -->
<div id="svcYearStats">
  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Completed</th>
        <th>Total</th>
        <th>Percent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= svcYearStart.year %></td>
        <td><%= compCurYear %></td>
        <td><%= workingTerrs.length %></td>
        <td><%= compCurYear.to_f/workingTerrs.length %></td>
      </tr>
      <% if lastSvcYear %>
        <tr>
          <td><%= lastSvcYear.year %></td>
          <td><%= compLastYear %></td>
          <td><%= workingTerrs.length %></td>
          <td><%= compLastYear.to_f/workingTerrs.length %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- table to display terrouts -->
<h2>Checked Out Territories</h2>

<table>
  <thead>
    <tr>
      <th>Territory</th>
      <th>Last Complete</th>
      <th>Publisher</th>
      <th>Date Out</th>
      <th>Date Due</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @terrouts.sort_by{|terr| terr.datedue}.each do |terrout| %>

      <tr>
        <td style="white-space:pre"><%= @terrs.find(terrout.terrid).name %><br><%= @terrs.find(terrout.terrid).region %></td>
        <td><%= @terrs.find(terrout.terrid).datecomp %></td>
        <td><%= terrout.publisher %></td>
        <td><%= terrout.dateout %></td>
        <td><%= terrout.datedue %></td>
        <td>View Details</td>
        <td>Check In</td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- table to display terrins -->

<!-- table to display terrs that aren't our or in -->
