<!-- User Settings -->
<%= cong_name = "Name" %>
<%= multi_links_enabled = false %>
<%= multi_servers={} %>
<%= multi_server["Residential"]="10.0.20.2:3000" %>
<%= multi_server["Letter/Phone"]="10.0.20.2:3001" %>
<%= multi_server["Business"]="10.0.20.2:3002" %>

<h1>Report#index</h1>
<p>Find me in app/views/report/index.html.erb</p>
