<!-- Edited from report/index -->

<%# will store terrid of all territories checked in or out %>
<% categorizedTerrs =[] %>

<!-- table to display terrouts -->
<div id="terrOuts">
  <h2>Territories to Check-In</h2>
  <table>
    <thead>
      <tr>
        <%= makeTableHeaders(TerraNovaConfig["reportPrintLayout"],"terrout") %>
      </tr>
    </thead>

    <tbody>
      <% @terrouts.sort_by{|terrout| terrout.datedue}.each do |terrout| %>
        <% categorizedTerrs<<terrout.terrid %>
        <tr>
          <%= makeTableData(TerraNovaConfig["reportPrintLayout"], "terrout", terrout) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- table to display terrins -->
<div id="terrIns">
  <h2>Available Territories</h2>
  <table>
    <thead>
      <tr>
        <%= makeTableHeaders(TerraNovaConfig["reportPrintLayout"],"terrin") %>
      </tr>
    </thead>

    <tbody>
      <% @terrins.sort_by{|terrin| @terrs.find(terrin.terrid).datecomp}.each do |terrin| %>
        <% categorizedTerrs<<terrin.terrid %>
        <tr>
          <%= makeTableData(TerraNovaConfig["reportPrintLayout"], "terrin", terrin) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<% if categorizedTerrs.count != @terrs.count %>
  <!-- table to display terrs that aren't out or in -->
    <div id="otherTerrs">
      <h2>Other Territories</h2>
      <table id="terrtable">
        <thead>
          <tr>
            <%= makeTableHeaders(TerraNovaConfig["reportPrintLayout"], "terr") %>
          </tr>
        </thead>

        <tbody>
          <% @terrs.sort_by{|terr| terr.datecomp}.each do |terr| %>
            <% if categorizedTerrs.find_index(terr.id) %>
            <% else %>
              <tr>
                <%= makeTableData(TerraNovaConfig["reportPrintLayout"],"terr",terr) %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
<% end %>