<!-- Edited from report/index -->

<%# will store terrid of all territories checked in or out %>
<% categorizedTerrs =[] %>

<!-- table to display terrouts -->
<div id="terrOuts">
  <h2>Territories to Check-In</h2>
  <%= terroutConfig = TerraNovaConfig["reportPrintLayout"]["terrout"] %>
  <table>
    <thead>
      <tr>
        <th>Territory</th>
        <th>Last Complete</th>
        <th>Publisher</th>
        <th>Date Out</th>
        <th>Date Due</th>
        <th>Date Turned In</th>
      </tr>
    </thead>

    <tbody>
      <% @terrouts.sort_by{|terrout| terrout.datedue}.each do |terrout| %>
        <% categorizedTerrs<<terrout.terrid %>
        <tr>
          <%= fullname(terrout) %>
          <%= datecomp(terrout) %>
          <%= publisher(terrout) %>
          <%= dateout(terrout) %>
          <%= datedue(terrout) %>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- table to display terrins -->
<div id="terrIns">
  <h2>Available Territories</h2>

  <table>
    <thead>
      <tr>
        <th>Territory</th>
        <th>Last Complete</th>
        <th>Date Out</th>
        <th>Date Due</th>
        <th>Publisher</th>
      </tr>
    </thead>

    <tbody>
      <% @terrins.sort_by{|terrin| @terrs.find(terrin.terrid).datecomp}.each do |terrin| %>
        <% categorizedTerrs<<terrin.terrid %>
        <tr>
          <%= fullname(terrin) %>
          <%= datecomp(terrin) %>
          <td></td>
          <td></td>
          <td class="pubEntry"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<% if categorizedTerrs.count != @terrs.count %>
  <!-- table to display terrs that aren't out or in -->
    <div id="otherTerrs">
      <h2>Other Territories</h2>

      <table id="terrtable">
        <thead>
          <tr>
            <th>Territory</th>
            <th>Last Complete</th>
            <th>Date Out</th>
            <th>Date Due</th>
            <th>Publisher</th>
            <th>Date Turned In</th>
          </tr>
        </thead>

        <tbody>
          <% @terrs.sort_by{|terr| terr.datecomp}.each do |terr| %>
            <% if categorizedTerrs.find_index(terr.id) %>
            <% else %>
              <tr>
                <%= fullname(terr) %>
                <%= datecomp(terr) %>
                <td></td>
                <td></td>
                <td class="pubEntry"></td>
                <td></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
<% end %>