<%= form_with(model: terr, local: true) do |form| %>
  <% if terr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(terr.errors.count, "error") %> prohibited this Territory from being saved:</h2>

      <ul>
      <% terr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :terr_name %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region, id: :terr_region %>
  </div>

  <div class="field">
    <%= form.label :datecomp %>
    <%= form.date_select :datecomp, id: :terr_datecomp, order: [:month, :day, :year] %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes, id: :terr_notes %>
  </div>
  <!-- History Editor Conditional that is set to fail as feature is not implemented  -->
  <% if params[:action]=="edit"%>
    <div class="field">
      <%= form.label :history %>
      <%# form.text_field :history, id: :terr_history, :value => @terr.history.to_s %>
      <table>
        <% history_entry_index = 0 %>
        <% @terr.history.each do |historyEntry| %>
            <tr>
              <% historyEntry.each do |detail| %>
                <td><%= detail %></td>
              <% end %>
              <td>
                Delete: <%= form.check_box :history, :name => "historyDelete[#{history_entry_index.to_s}]", id: :history %>
              </td>
            </tr>
          <% history_entry_index += 1 %>
        <% end %>
      </table>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
