<p id="notice"><%= notice %></p>

<h1>Territories</h1>

<table id="terrtable">
  <thead>
    <tr>
      <th onclick=tableSortWrapper("terrtable",0,"String")>Name</th>
      <th onclick=tableSortWrapper("terrtable",1,"String")>Region</th>
      <th onclick=tableSortWrapper("terrtable",2,"Date")>Last Complete</th>
      <th onclick=tableSortWrapper("terrtable",3,"String")>Publisher</th>
      <th onclick=tableSortWrapper("terrtable",2,"Date")>Date Out</th>
      <th onclick=tableSortWrapper("terrtable",2,"Date")>Date Due</th>
      <th onclick=tableSortWrapper("terrtable",3,"String")>Notes</th>
      <th colspan="3"></th> <%# Change to 4 when enabling Check In/Out links %>
    </tr>
  </thead>

  <tbody>
    <!-- Check In and Check Out links disabled because redirects to report/index not terr/index -->
    <% @terrs.each do |terr| %>
      <% if terrin=Terrin.all.find_by(terrid: terr.id) %>
        <tr>
          <td><%= terr.name %></td>
          <td><%= terr.region %></td>
          <td><%= terr.datecomp.strftime("%m/%d/%y") %></td>
          <td><!-- Blank Publisher Collumn --></td>
          <td><!-- Blank Date Out Collumn --></td>
          <td><!-- Blank Date Due Collumn --></td>
          <td><%= terr.notes %></td>
          <td><%= link_to 'Show', terr %></td>
          <td><%= link_to 'Edit', edit_terr_path(terr) %></td>
          <td><%= link_to 'Destroy', terr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <!-- <td><%= link_to 'Check Out', [terrin,checkout: terrin.terrid], method: :delete, data: { confirm: "Are you sure you want to check out #{@terrs.find(terrin.terrid).name}?" } %></td> -->
        </tr>
      <% elsif terrout=Terrout.all.find_by(terrid: terr.id) %>
        <tr>
          <td><%= terr.name %></td>
          <td><%= terr.region %></td>
          <td><%= terr.datecomp.strftime("%m/%d/%y") %></td>
          <td><%= terrout.publisher %></td>
          <td><%= terrout.dateout.strftime("%m/%d/%y") %></td>
          <td><%= terrout.datedue.strftime("%m/%d/%y") %></td>
          <td><%= terr.notes %></td>
          <td><%= link_to 'Show', terr %></td>
          <td><%= link_to 'Edit', edit_terr_path(terr) %></td>
          <td><%= link_to 'Destroy', terr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <!-- <td><%= link_to 'Check In', [terrout,checkin: terrout.terrid], method: :delete, data: { confirm: "Are you sure you want to check in #{@terrs.find(terrout.terrid).name}?" } %></td> -->
        </tr>
      <% else %>
        <tr>
          <td><%= terr.name %></td>
          <td><%= terr.region %></td>
          <td><%= terr.datecomp.strftime("%m/%d/%y") %></td>
          <td><!-- Blank Publisher Collumn --></td>
          <td><!-- Blank Date Out Collumn --></td>
          <td><!-- Blank Date Due Collumn --></td>
          <td><%= terr.notes %></td>
          <td><%= link_to 'Show', terr %></td>
          <td><%= link_to 'Edit', edit_terr_path(terr) %></td>
          <td><%= link_to 'Destroy', terr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <!-- <td><%= link_to 'Check Out', {:controller => "terrouts", :action => "new", :terrid => terr.id} %></td> -->
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Territory', new_terr_path %>
