<%= form_with(model: dnc, local: true) do |form| %>
  <% if dnc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dnc.errors.count, "error") %> prohibited this DNC from being saved:</h2>

      <ul>
      <% dnc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :terrid %>
    <% if params[:terrid] %>
      <%# Presents the territory ids in a user friendly format of names %>
      <%= form.select :terrid, options_for_select(Terr.all.map{|t|[t.name, t.id]}, selected=params[:terrid]), id: :dnc_terrid %>
    <% elsif @dnc.terrid %>
      <%= form.select :terrid, options_for_select(Terr.all.map{|t|[t.name, t.id]}, selected=@dnc.terrid), id: :dnc_terrid %>
    <% else %>
      <%= form.select :terrid, options_for_select(Terr.all.map{|t|[t.name, t.id]}), id: :dnc_terrid %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :dnc_date, include_blank: true, start_year: 1990, order: [:month, :day, :year], selected: Date.today %>
  </div>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :dnc_name %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :dnc_number %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :dnc_street %>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher, id: :dnc_publisher %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes, id: :dnc_notes %>
  </div>

  <% if params[:terrtype] %>
    <%# Checks for flags and passes them to the controller %>
    <%= form.hidden_field :terrtype, :value=> params[:terrtype] %>
    <%= form.hidden_field :redirid, :value=> params[:redirid] %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
