<h1>Editing DNC</h1>

<%= render 'form', dnc: @dnc %>

<% if params[:terrtype] %>
    <a href="/<%=params[:terrtype]%>/<%=params[:redirid]%>">Back</a>
<% else %>
    <%= link_to 'Show', @dnc %> |
    <%= link_to 'Back', dncs_path %>
<% end %>
