<p id="notice"><%= notice %></p>

<h1>Do Not Call Database</h1>
<h3>Sorted by Region, Street, Number</h3>
<a href='/dncs/print?terr=all' target='_blank'>Print All DNC Cards</a>
<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Territory</th>
      <th>Number</th>
      <th>Street</th>
      <th>Name</th>
      <th>Publisher</th>
      <th>Date</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dncs.each do |dnc| %>
      <tr>
        <td><%= Terr.all.find(dnc.terrid).region %>
        <td><%= Terr.all.find(dnc.terrid).name %></td>
        <td><%= dnc.number %></td>
        <td><%= dnc.street %></td>
        <td><%= dnc.name %></td>
        <td><%= dnc.publisher %></td>
        <td><%= dnc.date %></td>
        <td><%= dnc.notes %></td>
        <td><%= link_to 'Show', dnc %></td>
        <td><%= link_to 'Edit', edit_dnc_path(dnc) %></td>
        <td><%= link_to 'Delete', dnc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New DNC', new_dnc_path %>
