<script>
// Initialize table sort funcion
sortedTables["dnctable"]=1
</script>

<p id="notice"><%= notice %></p>

<h1>Do Not Call Database</h1>
<h3>Sorted by Region, Street, Number</h3>
<a href='/dncs/print?terr=all' target='_blank'>Print All DNC Cards</a>
<a id="csvdownload"></a>
<table id="dnctable">
  <thead>
    <tr>
      <th onclick=tableSortWrapper("dnctable",0,"String")>Region</th>
      <th onclick=tableSortWrapper("dnctable",1,"String")>Territory</th>
      <th onclick=tableSortWrapper("dnctable",2,"String")>Number</th>
      <th onclick=tableSortWrapper("dnctable",3,"String")>Street</th>
      <th onclick=tableSortWrapper("dnctable",4,"String")>Name</th>
      <th onclick=tableSortWrapper("dnctable",5,"String")>Publisher</th>
      <th onclick=tableSortWrapper("dnctable",6,"Date")>Date</th>
      <th onclick=tableSortWrapper("dnctable",7,"String")>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dncs.each do |dnc| %>
      <tr>
        <td><%= Terr.all.find(dnc.terrid).region %>
        <td><%= Terr.all.find(dnc.terrid).name %></td>
        <td><%= dnc.number %></td>
        <td><%= dnc.street %></td>
        <td><%= dnc.name %></td>
        <td><%= dnc.publisher %></td>
        <td>
          <% if dnc.date == nil %>
            <%= dnc.date %>
          <% else %>
            <%= dnc.date.strftime("%m/%d/%y") %>
          <% end %>
        </td>
        <td><%= dnc.notes %></td>
        <td><%= link_to 'Show', dnc %></td>
        <td><%= link_to 'Edit', edit_dnc_path(dnc) %></td>
        <td><%= link_to 'Delete', dnc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New DNC', new_dnc_path %>

<script>
  //This script section creates a downloadable CSV of all the DNCs
  //and updates the page to have a link in a predefined spot
  csvdata=["Region,Territory,Number,Street,Name,Publisher,Date,Notes"]
  dnctable=document.getElementById("dnctable").tBodies[0].rows
  i=0
  while (i<dnctable.length) {
    row=dnctable[i].cells
    temp=[]
    temp.push("\""+row[0].innerText+"\"")
    temp.push("\""+row[1].innerText+"\"")
    temp.push("\""+row[2].innerText+"\"")
    temp.push("\""+row[3].innerText+"\"")
    temp.push("\""+row[4].innerText+"\"")
    temp.push("\""+row[5].innerText+"\"")
    temp.push("\""+row[6].innerText+"\"")
    temp.push("\""+row[7].innerText+"\"")
    csvdata.push(temp.join(","))
    i+=1
  }
  csvstring=csvdata.join("\n")
  csv= new Blob([csvstring], {type: 'text/csv; header=present'})
  downloadlink=URL.createObjectURL(csv)
  linkloc=document.getElementById("csvdownload")
  linkloc.download = 'dncs.csv'
  linkloc.href = downloadlink
  linkloc.textContent='Download CSV'
</script>
