<style>
	body{background-color:white;}
	th{background-color:white;}
	td,td.ok{background-color:white;}
</style>

<div id="dncList" >
	<div id="header">
		<div align="left" style="display:inline-block;font-size:20px;font-weight:bold">Do Not Calls</div>
		<table align="right" style="border:0px"><tr><td style="border:0px">Printed <%= Time.now.month %>/<%= Time.now.day %>/<%= Time.now.year %></td></tr></table>
	</div>
	<% @dncs=Dnc.all.select{|dnc| dnc.terrid==params[:terr].to_i} %>
	<table style="width:96vw;position:fixed;left:2vw">
		<thead>
  		<tr>
  			<th>Number</th>
  			<th>Street</th>
  			<th>Name</th>
  			<th>Publisher</th>
  			<th>Date</th>
  			<th>Notes</th>
  		</tr>
  	</thead>

  	<tbody>
  		<% @dncs.each do |dnc| %>
  			<tr>
  				<td><%= dnc.number %></td>
  				<td><%= dnc.street %></td>
  				<td><%= dnc.name %></td>
  				<td><%= dnc.publisher %></td>
  				<td><%= dnc.date %></td>
  				<td><%= dnc.notes %></td>
  			</tr>
  		<% end %>
			<tr>
				<td width=400px, height=45px></td>
				<td width=400px, height=45px></td>
				<td width=400px, height=45px></td>
				<td width=400px, height=45px></td>
				<td width=50px, height=45px></td>
				<td height=45px></td>
			</tr>
			<tr>
				<td width=400px, height=45px></td>
				<td width=400px, height=45px></td>
				<td width=400px, height=45px></td>
				<td width=400px, height=45px></td>
				<td width=50px, height=45px></td>
				<td height=45px></td>
			</tr>
			<tr>
				<td width=400px, height=45px></td>
				<td width=400px, height=45px></td>
				<td width=400px, height=45px></td>
				<td width=400px, height=45px></td>
				<td width=50px, height=45px></td>
				<td height=45px></td>
			</tr>
		</tbody>
	</table>
</div>
