<p id="notice"><%= notice %></p>

<p>
  <strong>Territory ID:</strong>
  <%= @dnc.terrid %>
</p>

<p>
  <strong>Number:</strong>
  <%= @dnc.number %>
</p>

<p>
  <strong>Street:</strong>
  <%= @dnc.street %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dnc.name %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @dnc.publisher %>
</p>

<p>
  <strong>Date:</strong>
  <% if @dnc.date == nil %>
    <%= @dnc.date %>
  <% else %>
    <%= @dnc.date.strftime("%m/%d/%y") %>
  <% end %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @dnc.notes %>
</p>

<%#link_to 'Edit', edit_dnc_path(@dnc) %> |
<%# link_to 'Back', dncs_path %>
