<!DOCTYPE html>
<html>
  <head>
    <title>TerraNova</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      body {
       background-color: <%= TerraNovaConfig["bodyBG"] %>
      }

      th{
       background-color: #e5efff
      }

      td,td.ok{
       background-color: #efefff
      }

      td.warn{
       background-color: yellow
      }

      td.late{
       background-color: #ff4a2b
      }

      table, th, td
      {
        border:1px solid #000000;
        border-collapse:collapse;
        vertical-align:top;
        text-align:center;
        word-wrap:break-word;
        white-space:normal;
      }
    </style>
    <style>
      <%= yield :stylesheets %>
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
